/* Feedback Container */
.feedback-container {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    background: none; /* Removed the blue background */
}

/* Feedback Form */
.feedback-form {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px; /* Adds space below the form */
}

textarea {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    resize: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}

/* Submit Feedback Button */
.submit-feedback-button {
    padding: 10px 20px;
    background-color: #ffdd57;
    border: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    text-transform: uppercase;
}

.submit-feedback-button:hover {
    background-color: #ffbf00;
    transform: scale(1.05);
}

/* Back to Dashboard Button */
.back-dashboard-button {
    margin-top: 20px; /* Adds space above the button */
    padding: 10px 20px;
    background-color: #1e3c72;
    border: 2px solid #ffdd57;
    color: #ffdd57;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.back-dashboard-button:hover {
    background-color: #ffdd57;
    color: #333;
    transform: scale(1.05);
}
